:root {
    --primary-color: darkblue;
    --secondary-color: white;
    --border-color: black;
    --box-shadow-color: gray;
    --light-bg: #eee;

    --standard-padding: 10px;
    --image-width: 150px;
    --aside-image-width: 200px;
    --max-content-width: 800px;
}

nav {
    background-color: var(--primary-color);
    padding: var(--standard-padding);
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main {
    max-width: var(--max-content-width);
}

main img {
    width: var(--image-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--box-shadow-color);
}

img {
    width: var(--image-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--box-shadow-color);
}

p {
    padding: 0;
}

aside {
    width: 300px;
    margin: 20px;
    border: 1px solid var(--border-color);
    padding: var(--standard-padding);
    background-color: var(--light-bg);
    color: var(--border-color);
}

aside img {
    width: var(--aside-image-width);
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 2px solid var(--border-color);
    text-align: center;
}